<!DOCTYPE html>
<html>
<head>
  <!-- Rails -->
  <title>LiHead Site</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'site', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'site', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Template -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Henrique Shiraishi">
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <%= render partial: 'layouts/site_shared/navigation' %>
  <%= yield %>
</body>
</html>
